<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ft.first_interview">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.NavigationActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity android:name=".Activity.NavigationActivity"/> -->
        <activity
            android:name=".Activity.JobDetailActivity"
            android:label="招聘信息详情" />
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Activity.ResumeActivity"
            android:label="我的简历"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".Activity.ApplyActivity"
            android:label="我的应聘申请" />
        <activity
            android:name=".Activity.FavoriteActivity"
            android:label="我的收藏" />
        <activity
            android:name=".Activity.FeedbackActivity"
            android:label="用户反馈"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".Activity.SettingActivity"
            android:label="设置" />
        <activity android:name=".Activity.DialogActivity" />
        <activity android:name=".PictureSelector.PlusImageActivity" />

        <!-- 适配android6.0以上拍照问题 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".Activity.CompanyInformation"></activity>
    </application>

</manifest>